
body {
    background-color: grey;
}

.container {
    background-color: white;
    margin: auto;
    width: 300px;
    padding: 2%;
    margin-top: 100px;
    border-radius: 20px;
}

#button {
    margin-left: 120px;
}
